@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}

@keyframes progress {
  from { width: 100%; }
  to { width: 0%; }
}
html {
  scroll-behavior: smooth;
}